<style>
header { background-color: #000033; 
color: #F5F5F5; }
h1 { background-color: #000033; color: floralwhite; }
h2 { color: #3399CC; }
h3 { color: #000033; }
nav { background-color: #90C7E3; }
body { color: #666666; }
.resort { color: #5C7FA3; }
</style>